@import "@styles/variables";

.changes__item {
  background-color: $gray-7;
  padding: 1.5rem;
  border-radius: 5px;
  border: 1px solid $gray-6;
  box-shadow: 1px 5px 10px rgb(10, 10, 10);

  .changes__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: $gray-2;
    }

    .changes__item__header__icon {
      color: $gray-2;
      background-color: $gray-6;
      width: 8%;
    }
  }

  .changes__item__body {
    p {
      color: $gray-3;
      font-size: $font-lg;
      font-weight: 700;
    }
  }
}

.divider--horizontal {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 1280px) {
  .changes__item {
    max-width: 300px;
  }
}

@media (min-width: 1440px) {
  .changes__item {
    max-width: 300px;
  }
}
