@import "@styles/variables";

.hero {
  padding: 3rem 1.5rem;

  .hero__headline {
    text-align: center;
    font-size: $font-xl;
    letter-spacing: 0.06rem;

    h2 {
      background: linear-gradient($emerald-3, $emerald-2, $emerald-1);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .hero__description {
    text-align: center;
    font-size: $font-lg;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .hero {
    padding-bottom: 5rem;
    padding-top: 5rem;

    .hero__headline {
      font-size: $font-3xl;
      letter-spacing: 0.08rem;
    }

    .hero__description {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1280px) {
  .hero {
    .hero__headline {
      font-size: $font-4xl;
      padding-top: 4rem;
    }

    .hero__description {
      max-width: 55%;
      font-size: $font-2xl;
    }
  }
}

@media (min-width: 1536px) {
  .hero {
    padding: 3rem;
    padding-top: 5rem;

    .hero__headline {
      font-size: $font-5xl;
    }

    .hero__description {
      max-width: 50%;
      font-size: $font-3xl;
    }
  }
}
