@import "../../styles/variables";

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: 500;
    font-size: $font-xl;
    letter-spacing: 0.08rem;
  }

  .navbar__links {
    display: flex;
    align-items: center;

    li {
      margin: 0 0.35rem;
      transition: color 300ms;

      &:hover {
        transition: color 300ms;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    max-width: 90%;
    margin: 0 auto;

    .logo {
      font-size: $font-3xl;
      letter-spacing: 0.12rem;
    }

    .navbar__links {
      font-size: $font-lg;

      li {
        margin: 0 0.5rem;
      }
    }
  }
}

@media (min-width: 1536px) {
  .navbar {
    .logo {
      font-size: $font-4xl;
      letter-spacing: 0.16rem;
    }

    .navbar__links {
      font-size: $font-xl;
    }
  }
}
