.currencies__table__coin {
  display: flex;
  align-items: center;

  span {
    margin-left: 0.7rem;
  }
}

.currencies__table__sparkline {
  width: 220px;
}

@media (max-width: 420px) {
  .currencies__table__coin {
    // justify-content: space-between;

    img {
      min-width: 20px;
    }

    span {
      margin-left: 0.7rem;
    }
  }
}
