@import "../../../../styles/variables";

.currencies__table__coin {
  display: flex;
  align-items: center;

  span {
    font-weight: bold;
    margin-left: 0.7rem;
  }
}

.currencies__table__sparkline {
  width: 220px;
}

@media (max-width: 420px) {
  .currencies__table__coin {
    img {
      min-width: 20px;
    }

    span {
      margin-left: 0.7rem;
    }
  }
}

.price__up {
  color: $emerald-3;
}

.price__down {
  color: $red-1;
}
