@import "../../../styles/variables";

// .container {
//   position: relative;
// }

.card {
  border-radius: 5px;
  // position: relative;
  z-index: 3;
  cursor: pointer;
  background: linear-gradient(to right, $gray-8, $gray-7);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  // transition: all 300ms ease-in-out;

  // &:hover {
  //   transform: translateY(-30%);
  //   transition: all 300ms ease-in-out;
  // }

  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__header--divide {
    width: 100%;
    height: 1px;
    background-color: $gray-6;
    margin: 1rem 0;
  }

  .card__body {
    p {
      line-height: 1.8rem;
    }
  }

  // .card__background {
  //   top: 20%;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: blue;
  //   // position: absolute;
  //   z-index: -1;
  // }
}

@media (min-width: 768px) {
  .card {
    max-width: 350px;
  }
}
