.coins-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 768px) {
  .coins-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .coins-list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
  }
}

@media (min-width: 1536px) {
  .coins-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
