.chart__body {
  height: 350px;
}

@media (min-width: 768px) {
  .chart__body {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .chart__body {
    height: 500px;
  }
}

@media (min-width: 1440px) {
  .chart__body {
    height: 600px;
  }
}
