@import "@styles/variables";

.container {
  padding-top: 7rem;
  max-width: 90%;
  margin: 0 auto;

  .changes {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    background-color: $gray-6;
    border-radius: 5px;

    .changes__item {
      .changes__item__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: $gray-2;
        }

        h5 {
          color: $emerald-3;
          font-size: $font-base;
        }
      }

      .changes__item__body {
        p {
          color: $gray-3;
          font-size: $font-lg;
          font-weight: 700;
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

.divider--horizontal {
  width: 100%;
  height: 1px;
  background-color: $gray-4;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
