@import "@styles/variables";

.container {
  overflow-x: scroll;
  border-radius: 5px;

  .currencies__table {
    min-width: 1450px;
    color: $gray-1;
    background-color: $gray-7;
    padding: 1rem;

    th,
    td {
      border-bottom: 1px solid $gray-5;
      padding: 0.5rem;
      text-align: center;
      font-size: $font-lg;
    }

    th {
      padding-bottom: 1.2rem;
      font-size: $font-xl;
    }

    .table__placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 850px;
      background-color: $gray-7;
      border-radius: 5px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    .currencies__table {
      min-width: 1200px;

      th,
      td {
        font-size: $font-base;
      }

      .table__placeholder {
        width: 100%;
        height: 850px;
      }
    }
  }
}

@media (max-width: 920px) {
  .container {
    width: 700px;

    .currencies__table {
      min-width: 900px;

      .table__placeholder {
        width: 700px;
        height: 850px;
      }
    }
  }
}

@media (max-width: 420px) {
  .container {
    width: 100%;

    .currencies__table {
      min-width: 700px;

      th,
      td {
        font-size: $font-sm;
      }

      th {
        padding-bottom: 0.8rem;
      }

      .table__placeholder {
        width: 320px;
        height: 500px;
      }
    }
  }
}
