@import "../../../../styles/variables";

.container {
  overflow-x: scroll;

  .currencies__table {
    width: 1400px;
    color: $gray-1;
    background-color: $gray-7;
    padding: 1rem;
    border-radius: 5px;

    th,
    td {
      border-bottom: 1px solid $gray-3;
      padding: 0.5rem;
      text-align: center;
    }

    .currencies__table__coin {
      display: flex;

      span {
        margin-left: 0.7rem;
      }
    }

    .currencies__table__sparkline {
      width: 220px;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    width: 700px;

    .currencies__table {
      width: 900px;
    }
  }
}
