@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-top: 3rem;
  background-color: $gray-7;

  .chart {
    padding: 1rem;

    .chart__header {
      select {
        margin-bottom: 2.5rem;
        margin-right: 0.7rem;
        background-color: $gray-6;
        color: $gray-3;
        padding: 0.5rem 1rem;
        font-weight: bold;
        outline: none;
        border: 1px solid $gray-5;
        border-radius: 6px;

        &:focus {
          border: 2px solid $gray-3;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 8rem 0;

    .chart {
      .chart__header {
        margin-bottom: 2.5rem;

        select {
          padding: 0.7rem 1.5rem;
          font-size: $font-lg;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 9rem 0;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 11rem 0;
  }
}
