@import "@styles/variables";

.news {
  padding: 6rem 1rem;

  .news__header {
    text-align: center;
    font-size: $font-xl;
    color: $gray-2;
    letter-spacing: 0.08rem;
    margin-bottom: 3rem;
  }

  .news__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 35px;

    .news__item {
      padding: 1rem;
      background-color: $gray-8;
      background-image: linear-gradient(315deg, $gray-6 0%, $gray-8 74%);
      border-radius: 5px;

      .item__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        color: $gray-3;
        font-size: $font-sm;

        h1 {
          cursor: pointer;
        }

        img {
          min-width: 50px;
          min-height: 50px;
          border-radius: 3px;
        }
      }
    }
  }
}
