// theme colors
$emerald-1: #6ee7b7;
$emerald-2: #34d399;
$emerald-3: #10b981;
$emerald-4: #059669;
$gray-1: #f9fafb;
$gray-2: #f3f4f6;
$gray-3: #374151;
$gray-4: #1f2937;
$gray-5: #111827;

$colors: (
  "emerald-1": $emerald-1,
  "emerald-2": $emerald-2,
  "emerald-3": $emerald-3,
  "emerald-4": $emerald-4,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "gray-5": $gray-5,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// font sizes
$font-base: 1rem;
$font-sm: $font-base * 0.75;
$font-lg: $font-base * 1.125;
$font-xl: $font-base * 1.25;
$font-2xl: $font-base * 1.5;
$font-3xl: $font-base * 1.875;
$font-4xl: $font-base * 2.25;
$font-5xl: $font-base * 3;
$font-6xl: $font-base * 3.75;
